@font-face {
    font-family: 'Merge Pro';
    src: url('../fonts/MergePro-Regular.woff2') format('woff2'),
        url('../fonts/MergePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dalglish';
    src: url('../fonts/Dalglish.woff2') format('woff2'),
        url('../fonts/Dalglish.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dalglish';
    src: url('../fonts/Dalglish-Italic.woff2') format('woff2'),
        url('../fonts/Dalglish-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}